#
{{range $dir := lsdir "/"}}
server {
    listen  {{$custdir := printf "/%s/port" $dir}}{{getv $custdir}};
    server_name {{$custdir := printf "/%s/server_name" $dir}}{{getv $custdir}};
    client_max_body_size {{$custdir := printf "/%s/client_max_body_size" $dir}}{{getv $custdir}};
    location /{
        proxy_pass http://{{$custdir := printf "/%s/proxy_pass" $dir}}{{getv $custdir}};; 
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto $scheme;
        proxy_set_header    X-Forwarded-Host $http_host;
        proxy_redirect off;
        proxy_request_buffering off;
        proxy_send_timeout 300;
        proxy_read_timeout 300;
        keepalive_timeout  300;
        send_timeout       300;
    }
}
{{end}}

