{{range $domain := lsdir "/"}}
server {
  {{$url := split (base $domain) ":"}}
    listen       {{index $url 1}};
    server_name  {{index $url 0}};
  {{$basedir := printf "/%s/*" $domain}}
  {{range gets $basedir}}
    {{base .Key}} {{.Value}};
  {{end}}

  {{$basedir := printf "/%s" $domain}}
  {{range $location_id := lsdir $basedir}}
    {{$location_id :=  printf "/%s/%s/location" $domain $location_id}}
    location  {{getv $location_id}} {
      {{$rundir := dir $location_id}}
      {{$propertiesdir := printf "%s/properties/*" $rundir}}
      {{range gets $propertiesdir}}
        {{base .Key}} {{.Value}};
      {{end}}
      {{$proxy_set_headerdir :=printf "%s/proxy_set_header/*" $rundir}}
      {{range gets $proxy_set_headerdir}}
        proxy_set_header {{base .Key}} {{.Value}};
      {{end}}
    }
  {{end}}
}
{{end}}
