{{range $domain := lsdir "/"}}
server {
  {{$url := split (base $domain) ":"}}
    listen       {{index $url 1}};
    server_name  {{index $url 0}};
  {{$basedir := printf "/%s/*" $domain}}
  {{range gets $basedir}}
    {{base .Key}} {{.Value}};
  {{end}}

  {{$basedir := printf "/%s" $domain}}
  {{range $location_id := lsdir $basedir}}
    {{$location_key :=  printf "/%s/%s/location" $domain $location_id}}
    {{$properties_dir := printf "/%s/%s/properties/*" $domain $location_id}}
    {{$proxy_set_header_dir :=printf "/%s/%s/proxy_set_header/*" $domain $location_id}}
    location  {{getv $location_key}} {
      {{range gets $properties_dir}}
        {{base .Key}} {{.Value}};
      {{end}}
      {{range gets $proxy_set_header_dir}}
        proxy_set_header {{base .Key}} {{.Value}};
      {{end}}
    }
  {{end}}
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
{{end}}
